body {
    background-color: rgb(90, 190, 252);
    margin: 0;
    padding: 0;}

#the-body {
    position: relative;
    background-color: black;
    max-width: 400px;
    height: 450px;
    margin: auto;
    margin-top: 263px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;}

#the-eye {
    position: absolute;
    top: 100px;
    left: 42.5%;
    background-color: white;
    border: 1px solid white;
    width: 50px;
    height: 50px;}

#the-beak {
    position: absolute;
    top: 142.5px;
    left: 74.3%;
    z-index: -1;
    border: solid yellow;
    display: inline-block;
    padding: 100px;
    background-color: yellow;
    transform: rotate(-45deg)}